h1
{
 Font-family: Cambria Math;
 Font-style: bold;
 Font-Size: 50;
 
}

h2
{
 Font-family: Cambria Math;
 Font-style: italic;
 Font-Size: 35;
 
}

p
{
 Font-family: Cambria Math;
 Font-style: bold;
 Font-Size: 20;
 
}